body {background-color: oragne;}
header{color: pink; text-align:left;}
button{color:black; text-align: right;}
button{class: w3-round-large;}
details {color: red}
summary {color: blue}
footer {color: pink; text-align center;}
                 