body {background-color: blue;}
header{color: green; text-align:center;}
button{color:forest green; text-align: right;}
button{class: w3-round-large;}
details {color: pink}
summary {color: blue}
footer {color: pink; text-align center;}
                 