body {background-color: orange;}
header{color: teal; text-align:center;}
button{color:pink; text-align: center;}
button{class: w3-round-large;}
details {color: red}
summary {color: green}
footer {color: pink; text-align center;}
                 